.body {
    display: flex;
    text-align: center;
    justify-content: end;
    background-color: goldenrod;
    height: 100px;
    width: 100%;
    align-items: center;
  
}

.img {
    position: absolute;
    top: 0.1px;
    left: 1px;
}

.filters {
    margin-right: 5px;
}

.create {
    margin-right: 50px;
}

.create:hover {
    transform: scale(1.1);
}

.searchBar {
    margin-right: 5%;
   
}




