/* .search {
    justify-content: center;
} */

.search__input {
  border-radius: 5px;
  box-shadow: none;
  width: 60%;
  color: rgb(0, 0, 0);
}

.btn {
    margin-left: 10px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border:  solid 1px
    
}

.btn:hover {
    cursor: pointer;
}

